<ul class="sidebar space-y-4 mb-12  shadow-lg h-full">
    <li
      *ngFor="let item of menuItems"
      (click)="navigateTo(item.path)"
      [ngClass]="{ 'bg-gold-400': isActive(item.path) }"
      class="menu-item flex items-center !mt-0 px-4 py-5 cursor-pointer border-b-2 border-gold-400 hover:shadow-md"
    >
      <span class="icon mr-3">
        <svg
          [attr.xmlns]="item.icon.xmlns"
          [attr.fill]="item.icon.fill"
          [attr.viewBox]="item.icon.viewBox"
          [attr.stroke-width]="item.icon.strokeWidth"
          [attr.stroke]="item.icon.stroke"
          class="size-6"
        >
          <path
            [attr.d]="item.icon.path"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
      <span class="text-sm font-medium">{{ item.label }}</span>
    </li>
  </ul>
  