<footer class="bg-gold-500 py-8">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-8 px-4 text-white">
      
      <!-- Logo Section -->
      <div class="flex flex-col items-start space-y-2">
        <img src="icons/logowhite.png" alt="Jewels Estasy" class="h-auto mb-4">
      </div>
       
      <!-- Categories Section -->
      <div>
        <h3 class="font-semibold text-lg font-bold mb-2 text-white text-bold">CATEGORIES</h3>
        <ul class="space-y-2 text-sm list-inside ">
          <li class="list-disc text-black" ><a href="#" class="hover:underline text-black font-semibold">  Gold Jewelry</a></li>
          <li class="list-disc text-black" ><a href="#" class="hover:underline text-black font-semibold">  Diamond Jewelry</a></li>
          <li class="list-disc text-black" ><a href="#" class="hover:underline text-black font-semibold">  Silver Jewelry</a></li>
        </ul>
      </div>
      
      <!-- Information Section -->
      <div>
        <h3 class="font-semibold text-lg font-bold mb-2">INFORMATION</h3>
        <ul class="space-y-2 text-sm list-inside ">
          <li class="list-disc text-black" ><a href="#" class="hover:underline text-black font-semibold">  About Us</a></li>
          <li class="list-disc text-black" ><a href="#" class="hover:underline text-black font-semibold">  My wish list</a></li>
          <li class="list-disc text-black" ><a href="#" class="hover:underline text-black font-semibold">  Create Account</a></li>
          <li class="list-disc text-black" ><a href="#" class="hover:underline text-black font-semibold">  Privacy & Policy</a></li>
          <li class="list-disc text-black" ><a href="#" class="hover:underline text-black font-semibold">  Terms & Conditions</a></li>
        </ul>
      </div>
      
      <!-- Follow Us Section -->
      <div>
        <h3 class="font-semibold text-lg font-bold mb-2">FOLLOW US</h3>
        <ul class="space-y-2 text-sm list-inside ">
          <li class="flex items-center space-x-2">
            <img src="icons/insta.jpg" alt="Facebook" class="h-6 w-6 hover:cursor-pointer">
            <a  class="list-disc text-black" href="#" class="hover:underline text-black font-semibold">  Facebook</a>
          </li>
          <li class="flex items-center space-x-2">
            <img src="icons/fb.png" alt="Instagram" class="h-6 w-6 hover:cursor-pointer">
            <a  class="list-disc text-black" href="#" class="hover:underline text-black font-semibold">  Instagram</a>
          </li>
        </ul>
      </div>
      
    </div>
  </footer>
  