<footer class="bg-gold-500 py-8">
  <div
    class="max-w-7xl mx-auto grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8 px-4 text-white"
  >
    <!-- Logo Section -->
    <div
      class="flex flex-col items-center md:items-center lg:items-start space-y-2"
    >
      <img src="icons/logowhite.png" alt="Jewels Estasy" class="h-auto mb-4" />
    </div>

    <!-- Categories Section -->
    <div class="text-center md:text-center lg:text-left">
      <h3 class="font-semibold text-lg mb-2 text-white">CATEGORIES</h3>
      <ul class="space-y-2 text-sm text-black">
        @for (item of categories; track item.Category_ID) {
        <li><a (click)="onCategory(item)" class="hover:underline">{{item.Category_Name}}</a></li>
        }
      </ul>
    </div>

    <!-- Information Section -->
    <div class="text-center md:text-center lg:text-left">
      <h3 class="font-semibold text-lg mb-2 text-white">INFORMATION</h3>
      <ul class="space-y-2 text-sm text-black">
        <!-- <li><a href="#" class="hover:underline">About Us</a></li>
        <li><a href="#" class="hover:underline">My Wish List</a></li>
        <li><a href="#" class="hover:underline">Create Account</a></li> -->
        <li><a href="#" class="hover:underline">Privacy & Policy</a></li>
        <li><a href="#" class="hover:underline">Terms & Conditions</a></li>
      </ul>
    </div>

    <!-- Follow Us Section -->
    <div class="text-center md:text-center lg:text-left">
      <h3 class="font-semibold text-lg mb-2 text-white">FOLLOW US</h3>
      <ul class="space-y-2 text-sm text-black">
        <li
          class="flex items-center justify-center md:justify-center lg:justify-start space-x-2"
        >
          <img
            src="icons/insta.jpg"
            alt="Facebook"
            class="h-6 w-6 hover:cursor-pointer"
          />
          <a href="#" class="hover:underline">Facebook</a>
        </li>
        <li
          class="flex items-center justify-center md:justify-center lg:justify-start space-x-2"
        >
          <img
            src="icons/fb.png"
            alt="Instagram"
            class="h-6 w-6 hover:cursor-pointer"
          />
          <a href="#" class="hover:underline">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
