<div class="bg-white p-2 md:p-6 rounded-lg shadow-lg w-full h-full max-w-md mx-auto">
  <h2
    class="text-sm md:text-xl font-semibold md:mb-4 text-gold-700 text-center border-b-2 border-gray-400 md:pb-3"
  >
    Add Address
  </h2>
  <div class="overflow-y-auto max-h-[100vh]">
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
      <div class="relative mb-2 md:mb-4">
        <input
          type="text"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          formControlName="name"
          [ngClass]="{
            'border-red-500':
              addressForm.controls['name'].invalid &&
              (addressForm.controls['name'].touched ||
                addressForm.controls['name'].dirty)
          }"
          autocomplete="off"
        />
        <label
          for="floating_outlined"
          class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Name</label
        >
      </div>
      <div class="relative mb-2 md:mb-4">
        <input
          type="number"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          formControlName="mobile"
          [ngClass]="{
            'border-red-500':
              addressForm.controls['mobile'].invalid &&
              (addressForm.controls['mobile'].touched ||
                addressForm.controls['mobile'].dirty)
          }"
          maxlength="10"
          autocomplete="off"
          minlength="10"
        />
        <label
          for="floating_outlined"
          class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Mobile</label
        >
      </div>
      <div class="relative mb-2 md:mb-4">
        <label
          for="countries"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Select an Address Type</label
        >
        <select
          [ngClass]="{
            'border-red-500':
              addressForm.controls['addresstype'].invalid &&
              (addressForm.controls['addresstype'].touched ||
                addressForm.controls['addresstype'].dirty)
          }"
          formControlName="addresstype"
          id="countries"
          class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="Home">Home</option>
          <option value="Office">Office</option>
        </select>
      </div>
      <div class="relative mb-2 md:mb-4">
        <input
          type="text"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          formControlName="address1"
          [ngClass]="{
            'border-red-500':
              addressForm.controls['address1'].invalid &&
              (addressForm.controls['address1'].touched ||
                addressForm.controls['address1'].dirty)
          }"
          autocomplete="off"
        />
        <label
          for="floating_outlined"
          class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Address Line 1</label
        >
      </div>
      <div class="relative mb-2 md:mb-4">
        <input
          type="text"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          formControlName="address2"
          [ngClass]="{
            'border-red-500':
              addressForm.controls['address2'].invalid &&
              (addressForm.controls['address2'].touched ||
                addressForm.controls['address2'].dirty)
          }"
          autocomplete="off"
        />
        <label
          for="floating_outlined"
          class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Address Line 2</label
        >
      </div>

      <div class="relative mb-2 md:mb-4">
        <input
          type="text"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          formControlName="city"
          [ngClass]="{
            'border-red-500':
              addressForm.controls['city'].invalid &&
              (addressForm.controls['city'].touched ||
                addressForm.controls['city'].dirty)
          }"
          autocomplete="off"
        />
        <label
          for="floating_outlined"
          class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >City</label
        >
      </div>
      <div class="relative mb-2 md:mb-4">
        <label
          for="countries"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Select an State</label
        >
        <select
          [ngClass]="{
            'border-red-500':
              addressForm.controls['state'].invalid &&
              (addressForm.controls['state'].touched ||
                addressForm.controls['state'].dirty)
          }"
          formControlName="state"
          id="countries"
          class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          @for (item of stateList; track $index) {
          <option [value]="item.state">{{ item.state }}</option>
          }
        </select>
      </div>
      <div class="relative mb-2 md:mb-4">
        <input
          type="text"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          formControlName="country"
          [disabled]="true"
          [ngClass]="{
            'border-red-500':
              addressForm.controls['country'].invalid &&
              (addressForm.controls['country'].touched ||
                addressForm.controls['country'].dirty)
          }"
          autocomplete="off"
        />
        <label
          for="floating_outlined"
          class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Country</label
        >
      </div>
      <div class="relative mb-2 md:mb-4">
        <input
          type="number"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          formControlName="code"
          [ngClass]="{
            'border-red-500':
              addressForm.controls['code'].invalid &&
              (addressForm.controls['code'].touched ||
                addressForm.controls['code'].dirty)
          }"
          autocomplete="off"
        />
        <label
          for="floating_outlined"
          class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Postal Code</label
        >
      </div>
      <div class="flex justify-end">
        <button
          type="button"
          (click)="onCancel()"
          class="px-4 py-2 mr-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400"
        >
          Cancel
        </button>

        <button
          type="submit"
          class="px-4 py-2 bg-gold-600 text-white rounded-md hover:bg-indigo-700"
        >
          {{ isEdit ? "Update" : "Save Address" }}
        </button>
      </div>
    </form>
  </div>
</div>
