<div
  class="max-w-sm bg-white rounded-2xl shadow-lg overflow-hidden m-4 relative hover:cursor-pointer hover:border-2 hover:border-yellow-500 hover:scale-105 transition transform duration-300"
>
  <!-- Wishlist Icon -->
  <div class="absolute top-2 right-2" (click)="wishListChange()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      [ngClass]="inCart ? 'fill-gold-700' : 'fill-transparent'"
      class="h-8 w-8 stroke-gold-500 stroke-[1.5] hover:fill-gold-700 cursor-pointer transition-all duration-300"
    >
      <path
        d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
      />
    </svg>
  </div>
  @if (productData.Product_Image) {
  <img
    (click)="onProduct()"
    class="w-full h-80 object-contain"
    [src]="productData.Product_Image"
    [alt]="productData.Product_Name"
  />
  } @else {
  <img
    (click)="onProduct()"
    class="w-full h-80 object-contain"
    src="https://via.placeholder.com/200"
  />
  }

  <div class="p-4" (click)="onProduct()">
    <h3 class="text-lg font-semibold mb-1 text-center">
      {{ productData.Product_Name }}
    </h3>
    <p class="text-red-500 text-lg font-bold text-center">
      {{ productData.Price | currency : "INR" : "symbol-narrow" }}
    </p>

    <div class="flex justify-center mt-2 mb-4">
      <div class="flex space-x-1 text-yellow-400">
        <!-- Star Ratings -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 15l-5.878 3.09L5.66 11.59.947 7.409 7.682 6.59 10 1l2.318 5.59 6.735.818-4.713 4.182 1.538 6.5L10 15z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 15l-5.878 3.09L5.66 11.59.947 7.409 7.682 6.59 10 1l2.318 5.59 6.735.818-4.713 4.182 1.538 6.5L10 15z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 15l-5.878 3.09L5.66 11.59.947 7.409 7.682 6.59 10 1l2.318 5.59 6.735.818-4.713 4.182 1.538 6.5L10 15z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 15l-5.878 3.09L5.66 11.59.947 7.409 7.682 6.59 10 1l2.318 5.59 6.735.818-4.713 4.182 1.538 6.5L10 15z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-gray-400"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 15l-5.878 3.09L5.66 11.59.947 7.409 7.682 6.59 10 1l2.318 5.59 6.735.818-4.713 4.182 1.538 6.5L10 15z"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
