<!-- Modal Overlay -->

<div
  class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50"
>
  <!-- Modal Container -->
  <div
    class="bg-white rounded-lg shadow-lg w-full max-w-4xl flex flex-col md:flex-row"
  >
    <!-- Left Section: Image -->
    <div
      class="hidden md:flex md:w-2/3 bg-cover bg-center rounded-l-lg"
      style="background-image: url('icons/logo.png')"
    ></div>

    <!-- Right Section: Form with Grayish Background Image -->
    <div
      class="relative w-full md:w-3/2 p-8 bg-cover bg-center"
      style="background-image: url('images/category/neclace.png')"
    >
      <div class="absolute inset-0 bg-gray-900 bg-opacity-60"></div>
     
      <div class="relative z-10 p-6">
        <!-- Modal Header -->
        <div class="flex justify-between items-center border-b pb-3 mb-6">
          <h2 class="text-3xl font-bold text-white">Login</h2>
          <button
            class="text-white hover:text-gray-700"
            (click)="authService.LoginModalOpen.set(false)"
          >
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          </button>
        </div>
        @if (!isOTP) {
        <!-- Modal Body -->
        <p class="text-white mb-4">
          Please enter the following details to login your account
        </p>

        <!-- Form Fields -->
        <form
          [formGroup]="signupForm"
          (ngSubmit)="onSubmit()"
          class="space-y-4"
        >
        
          <input
          id="mobile"
            formControlName="Cust_Mobile"
            type="text"
            placeholder="Mobile No."
            class="w-full px-4 py-3 bg-gray-100 rounded-lg text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-yellow-500"
            [ngClass]="getClass('Cust_Mobile')"
          />

          <!-- Submit Button -->
          <button
            type="submit"
            class="w-full bg-yellow-600 text-white text-lg font-semibold py-3 rounded-lg hover:cursor-pointer"
            (click)="onSubmit()"
          >
            <!-- [disabled]="signupForm.invalid" -->
            Login
          </button>
        </form>

        <!-- Social Sign-in Options -->
        <div class="flex flex-wrap items-center justify-center mt-4">
          <span class="text-white text-center underline">Or Continue With</span>
          <a
            href="#"
            class="bg-white p-2 rounded-full hover:cursor-pointer ml-3"
          >
            <img src="icons/google.png" alt="Google" class="w-6 h-6" />
          </a>
        </div>
      } @if (isOTP) {
        <div class="relative z-10">
          <p class="text-sm text-white mb-6">
            A verification code is sent to your mobile number. Please enter it
            below...
          </p>
  
          <form>
            <!-- Mobile Number Input -->
          
            
            <!-- Resend Link -->
            <div class="flex justify-end mb-4">
              <a (click)="resendOTP()" class="text-sm text-yellow-400 justify-end">Resend</a>
            </div>
  
            <div class="flex justify-start mb-2">
              <a href="#" class="text-sm text-white font-bold justify-start"
                >Enter Verification Code</a
              >
            </div>
  
            <!-- Verification Code Input -->
            <div class="mb-6 flex space-x-2 justify-between">
              <input
                (keyup)="focusNext('#two')"
                id="one"
                type="text"
                maxlength="1"
                class="w-12 h-12 p-2 rounded-lg bg-gray-100 text-dark text-center"
              />
              <input
                (keyup)="focusNext('#three')"
                id="two"
                type="text"
                maxlength="1"
                class="w-12 h-12 p-2 rounded-lg bg-gray-100 text-dark text-center"
              />
              <input
                (keyup)="focusNext('#four')"
                id="three"
                type="text"
                maxlength="1"
                class="w-12 h-12 p-2 rounded-lg bg-gray-100 text-dark text-center"
              />
              <input
                (keyup)="focusNext('#five')"
                id="four"
                type="text"
                maxlength="1"
                class="w-12 h-12 p-2 rounded-lg bg-gray-100 text-dark text-center"
              />
              <input
                (keyup)="focusNext('#six')"
                id="five"
                type="text"
                maxlength="1"
                class="w-12 h-12 p-2 rounded-lg bg-gray-100 text-dark text-center"
              />
              <input
                (keyup)="focusNext('#enter')"
                id="six"
                type="text"
                maxlength="1"
                class="w-12 h-12 p-2 rounded-lg bg-gray-100 text-dark text-center"
              />
            </div>
  
            <!-- Verify Button -->
            <div>
              <button
                type="button"
                class="w-full py-3 rounded-lg bg-yellow-500 text-white font-semibold hover:bg-yellow-600 transition duration-300"
              >
                Verify
              </button>
            </div>
          </form>
          <!-- Social Sign-in Options -->
        </div>
        }
        <div
          class="flex flex-wrap items-center justify-center mt-4 border-t pt-3 hover:cursor-pointer"
          (click)="onRegistration()"
        >
          <span class="text-white w-full text-center underline"
            >Don't have an account create here</span
          >
        </div>
      </div>
     
    </div>
  </div>
</div>