<div class="p-5 w-full flex">
  <!-- First Half -->
  <div class="w-1/3 flex flex-row sticky top-24 h-full overflow-y-auto">
    <div class="w-1/5 flex flex-col space-y-2">
      @for (item of imagesList; track $index) {
      <img
        (click)="currentImage = $index"
        class="border-2 border-gold-400 h-16 w-full object-contain hover:cursor-pointer"
        [src]="item.Image_URL"
        [ngClass]="
          currentImage == $index
            ? 'border-solid border-gold-400'
            : 'border-dotted'
        "
        alt=""
      />
      }
    </div>
    <div class="w-4/5">
      <img
        class="w-full object-contain"
        [src]="imagesList[currentImage]?.Image_URL"
        alt=""
      />
    </div>
  </div>
  <div class="w-2/3 overflow-y-auto h-full">
    <div
      class="bg-white rounded-lg shadow-lg p-6 w-full mx-auto overflow-y-auto"
    >
      <h2 class="text-xl font-bold text-yellow-800 flex justify-between">
        {{ product[0]?.Product_Name }}
        <span class="flex">
          <svg
            (click)="wishlistChange()"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            [ngClass]="inWishlist ? 'fill-gold-700' : 'fill-transparent'"
            class="h-8 w-8 mr-3 stroke-gold-500 stroke-[1.5] hover:fill-gold-700 cursor-pointer transition-all duration-300"
          >
            <path
              d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
            />
          </svg>
          <svg
            (click)="onShare()"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
            class="h-8 w-8 stroke-[1.5] fill-gold-500 cursor-pointer transition-all duration-300"
          >
            <path
              fill-rule="evenodd"
              d="M15.75 4.5a3 3 0 1 1 .825 2.066l-8.421 4.679a3.002 3.002 0 0 1 0 1.51l8.421 4.679a3 3 0 1 1-.729 1.31l-8.421-4.678a3 3 0 1 1 0-4.132l8.421-4.679a3 3 0 0 1-.096-.755Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </h2>

      <p class="text-sm text-gray-600 mt-2 pr-12">
        {{ product[0]?.Description }}
      </p>
      <div class="mt-4 text-red-600 text-2xl font-semibold">
        {{ product[0]?.Price | currency : "INR" : "symbol-narrow" : "4.2-2" }}
      </div>
      <div class="flex items-center mt-2 text-xs">
        <span class="p-1 bg-green-500 rounded-md mr-2 text-white font-bold"
          >4.6 <span class="text-white">★</span>
        </span>
        <span class="text-yellow-400">★★★★</span>
        <span class="text-gray-400">★</span>
        <span class="text-gray-500 font-medium pl-2"
          >(728 Ratings & 450 Reviews)</span
        >
      </div>

      <div class="flex justify-around mt-6 text-sm">
        @for (item of product; track $index) {
        <div class="text-center">
          <span class="font-semibold">{{ item.Title }}</span
          ><br />
          {{ item.Dim_Desc }}
        </div>
        }
      </div>

      <div class="grid grid-cols-2 gap-4 mt-6">
        <button
          (click)="addToCart()"
          class="border-yellow-500 border-2 text-yellow-500 font-semibold py-2 rounded-lg hover:bg-yellow-600 hover:text-white"
        >
          {{ inCart ? "GO" : "ADD" }} TO CART
        </button>
        <button
          (click)="buyNow()"
          class="bg-yellow-500 text-white font-semibold py-2 rounded-lg hover:bg-gold-700"
        >
          BUY NOW
        </button>
      </div>
    </div>
    <hr />
    <app-rating-reviews/>
  </div>

@if (isShareOpen) {
<app-socialmedia (closeShare)="onShare()" />
}

<!-- <div class="text-center">
          <span class="font-semibold">Qty</span><br />
          <div class="flex items-center pt-2">
            <button
              class="text-lg font-bold text-white bg-yellow-500 border border-gray-300 rounded-full w-8 h-8 flex items-center justify-center"
            >
              -
            </button>
            <span class="mx-4">1</span>
            <button
              class="text-lg font-bold text-white bg-yellow-500 border border-gray-300 rounded-full w-8 h-8 flex items-center justify-center"
            >
              +
            </button>
          </div>
        </div> -->

<!-- <div class="grid grid-cols-2 gap-4 mt-6">
        <div>
          <label class="block text-sm font-semibold">Purity</label>
          <select class="w-full border border-gray-300 rounded-lg p-2 mt-1">
            <option>Select</option>
          </select>
        </div>
        <div>
          <label class="block text-sm font-semibold">Carat</label>
          <select class="w-full border border-gray-300 rounded-lg p-2 mt-1">
            <option>Select</option>
          </select>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mt-4">
        <div>
          <label class="block text-sm font-semibold">Country</label>
          <select class="w-full border border-gray-300 rounded-lg p-2 mt-1">
            <option>Select</option>
          </select>
        </div>
        <div>
          <label class="block text-sm font-semibold">Pincode</label>
          <input
            type="text"
            class="w-full border border-gray-300 rounded-lg p-2 mt-1"
            placeholder="Enter pincode"
          />
        </div>
      </div> -->
