<!-- <div class="w-screen h-screen overflow-hidden relative">
    <div
      class="absolute flex w-[300%] h-full "
    >
      <div  [className]="'w-screen h-screen flex items-center justify-center bg-'+currentSlide()+'-500'">
        <h1 class="text-white text-5xl">Slide 1</h1>
      </div>
    </div>
  </div>
   -->

<div class="w-screen h-screen overflow-hidden relative">
  <div class="absolute flex w-full h-full">
    <div class="w-screen h-screen flex items-center justify-center">
      <img class="w-screen h-screen" [src]="getImage()" alt="" />
    </div>
  </div>
</div>
